<nav class="bg-gray-800-trans rounded fixed right-0 top-0 m-2 p-2 z-50 shadow-md tracking-wider">
    {% set navItems = [
        { route: 'home', label: 'Home'},
        { route: 'projects', label: 'Projects'},
    ] %}
    {% for navItem in navItems %}
        <a href="{{ url(navItem.route) }}" class="inline-block mx-1 {{ request.route is same as(navItem.route) ? 'active' }}">{{ navItem.label }}</a>
    {% endfor %}
</nav>
