<nav class="bg-gray-800-trans rounded fixed right-0 top-0 m-2 p-2 z-50 shadow-md tracking-wider">
    <a href="/" class="inline-block mx-1 {{ request['route'] is same as('home') ? 'active' }}">Home</a>
    <a href="/projects" class="inline-block mx-1 {{ request['route'] is same as('projects') ? 'active' }}">Projects</a>
</nav>
