<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Florian Hermann - Web developer{% endblock %}</title>
        <link rel="icon" href="/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
        <link href="/build/app.css" rel="stylesheet">
        <meta name="description" content="{% block description %}Florian Hermann is a web developer and entrepreneur based in Metz, France.{% endblock %}">
    </head>
    <body class="bg-gray-900 text-white font-sans border-t-2 border-blue-400 min-h-screen flex flex-col">
        {% include '_nav.html.twig' %}
        <main class="flex items-center h-full flex-1">
            <div class="container my-8">
                {% block body %}{% endblock%}
            </div>
        </main>
        <footer class="bg-black p-1">
            <p class="text-xs text-right mx-4">
                Rendered in <span class="font-bold text-blue-400">{{ debug_microtime() }} ms</span> with
                <a href="https://github.com/hermann8u/psr-framework" target="_blank" rel="noopener noreferrer">psr-framework</a>
            </p>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
