{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-4 bg-gray-800 mx-auto w-full lg:w-3/4 shadow-2xl rounded-lg tracking-wider">
        <h1 class="my-8 text-center text-2xl font-bold text-red-500">Statistiques</h1>
        <div class="flex -mx-4">
            <div class="px-4 w-1/2 text-center">
                <h2 class="text-xl"><span class="font-bold text-blue-400">{{ counter.count }}</span> homepage visites</h2>
            </div>
            <div class="px-4 w-1/2">
                <h2 class="text-xl">Registered at</h2>
                <ul class="list">
                    {% for date in counter.dates %}
                        <li>{{ date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
